#!/usr/bin/env bash

# Python shit
export PATH="$PATH:$HOME/.local/bin"

# mise-en-place
{{ if eq .chezmoi.os "darwin" }}
eval "$(mise activate zsh --shims)"
export SSH_AUTH_SOCK={{ .chezmoi.homeDir }}/.bitwarden-ssh-agent.sock
export SHELL=/bin/zsh
{{ end }}
{{ if eq .chezmoi.os "linux" }}
eval "$($HOME/.local/bin/mise activate zsh)"
{{ end }}
{{ if .is_wsl }}
export GIT_SSH=$(which ssh.exe)
eval "$(ssh-agent.exe -s)"
{{ end }}
